<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="org.notabug.lifeuser.ArraysOfCinemas">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/haha"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name="org.notabug.lifeuser.ArraysOfCinemas.activity.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name="org.notabug.lifeuser.ArraysOfCinemas.activity.DetailActivity"
			android:label="@string/title_activity_detail"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name="org.notabug.lifeuser.ArraysOfCinemas.activity.CastActivity"
			android:label="@string/title_activity_cast"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity android:name="org.notabug.lifeuser.ArraysOfCinemas.activity.SettingsActivity">
		</activity>
		<activity android:name="org.notabug.lifeuser.ArraysOfCinemas.activity.FilterActivity">
		</activity>
	</application>

</manifest>